#nav {
	padding: 0.6em;
	font-size: 18px;
	font-size: clamp(18px, 1.2em, 21px);
	justify-content: space-around;
	background-color: #DEDAD7;
	gap: 0.6em;
	justify-content: flex-start;
}

#nav .btn {
	flex-grow: 1;
	max-width: 220px;
}

@media (prefers-color-scheme: dark) {
	#nav {
		padding: 0.6em;
		font-size: 1.2em;
		background-color: #212121;
	}
}

#install-btn {
	margin-left: auto;
	margin-right: 0.4em;
}

#nav .btn.btn-default:disabled * {
	opacity: 0.6;
}
