#nav {
	padding: 0.6em;
	font-size: 1.2em;
	justify-content: space-around;
	background-color: #DEDAD7;
	gap: 0.6em;
	justify-content: flex-start;
}

#nav .btn {
	border: 1px solid #bfbfbf;
	flex-grow: 1;
	max-width: 200px;
}

#nav .btn.btn-default {
	background-color: #EEECEA;
	color: #2E3436;
}

@media (prefers-color-scheme: dark) {
	#nav {
		padding: 0.6em;
		font-size: 1.2em;
		background-color: #212121;
	}

	#nav .btn.btn-default {
		background-color: #2d2d2d;
		color: #EEEEEC;
		border: 1px solid #070707;
	}
}

#install-btn {
	margin-left: auto;
	margin-right: 0.4em;
}

#nav .btn.btn-default:disabled * {
	opacity: 0.6;
}
